/* BASIC CONTAINER STYLING */
div {
  margin: 0;
  padding: 0;
  position: relative;
  left: 10%;
  max-width: 80%;
}

.proj-desc {
  float: left;
  margin-top: 2%;
  margin-left: 10%;
  padding: 0.1rem;
  max-width: 40%;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
}

.proj-desc p {
  padding: 2rem 2.5rem;
}

div section {
  margin-bottom: 10rem;
}

/* HEADER IMAGE STYLING */
.page-header {
  width: 100vw;
  height: 60vh;
  margin: 0;
  background-position: right;
  background-size: cover;
}

#coco-header {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white), url("../img/coco_landing3.png");
}

#nt-header {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white), url("../img/noteteacher_final2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

header h2 {
  padding-top: 5%;
  padding-left: 0;
  margin-left: 10%;
  font-size: 3rem;
  color: #000000;
}

#coco-header h2 {
  color: #ffffff;
}

/* IMAGE STYLING */
figure {
  max-width: 50%;
  margin: 0;
}

img {
  max-width: 100%;
}

iframe {
  border: 5px solid #1F1D23;
  width: 40vw;
  height: 30vh;
}

/* TEXT STYLING */
h3 {
  display: block;
  width: 100%;
  margin: 0;
  color: #000000;
}

#prototype h3 {
  padding-left: 0;
}

/* FLOATING NAVIGATION FOR ANCHOR POINTS */
/*
#art-direction figure.grid-content{
  background-color: #ffffff;
  color: #000000;
}

#art-direction section.grid-content, #animatic section.2b {
  background-color: #1f1d23;
  color: #ffffff;
  margin: 0;
}

#storyboards, #animatic, #final {
  height: 100%;
}

section.2a {
  background-color: #1f1d23;
  color: #ffffff;
}
*/
/* .grid-container h4 {
  margin-left: -16%;
 } */
/* MEDIA QUERIES */
@media screen and (max-width: 30rem) {
  div {
    max-width: 100%;
    left: 0;
  }

  div section {
    margin-bottom: 5rem;
  }

  #main-header figure, #main-header h1 {
    margin: 0;
    text-align: center;
  }

  #nt-header h2 {
    font-size: 2rem;
  }

  h3 {
    width: auto;
  }

  div h3 {
    padding-left: 1.5rem;
  }

  figure {
    max-width: 100%;
    margin: 1.5rem;
  }

  .grid-content p {
    margin: 1.5rem;
    padding: 0;
  }
}
@media screen and (max-width: 40rem) {
  .page-header {
    height: 40vh;
  }

  h2 {
    text-align: center;
    margin: 0;
  }

  .proj-desc {
    max-width: 80%;
    /* margin-left: 0; */
  }
}
/* Screen size between 600px and 1200px */
@media screen and (min-width: 40rem) and (max-width: 75rem) {
  .proj-desc {
    width: 60%;
    max-width: 60%;
  }
}