div {
  margin: 1rem;
  padding: 2rem;
  border: 2px solid #353535;
  border-radius: 5px;
}


div h2, div h3, div h4, p {
  padding-left: 0rem;
  margin: 1rem 0 1rem 0;
}

ul, ol {
  margin-left: -1.33rem;
}

.grid-content {
  border: 1px solid grey;
  border-radius: 5px;
}

#copyright {
  background-color: #507A69;
  text-align: center;
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 0;
}
